.job-submission-info, .data-movement-info{
	border: 1px solid #000;
	padding: 5%;
}

.job-protocol-block, .data-movement-block{
	border: 3.5px dashed #666;
	border-radius: 15px;
	margin-bottom:5%;
	padding-bottom: 5%;
}
